<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
    <variable name='sharedLocation' value='{{ __imshared_location }}'/>
  </variables>
  <server>
    <repository location='{{ __mfp_repo_dir }}'/>
  </server>
  <profile id='IBM MobileFirst Platform Server' installLocation='{{ __mfp_install_location }}'>
    <data key='cic.selector.arch' value='x86_64'/>
    <data key='user.use.ios.edition' value='false'/>
    <data key='user.windows.profilesubdir' value='IBM\MobileFirst Platform Server'/>
    <data key='user.shortcuts.folder5' value='IBM MobileFirst Platform Server 8.0'/>
    <data key='user.update.minimal' value='false'/>
    <data key='user.licensed.by.tokens' value='false'/>
    <data key='user.database.db2.port' value='{{ __mfp_ac_db2_port }}'/>
    <data key='user.database.db2.appcenter.dbname' value='{{ __mfp_ac_db2_dbnm }}'/>
    <data key='user.database.db2.appcenter.password' value='{{ mfp_db2_wluser_pwd }}'/>
    <data key='user.database.db2.password2' value='{{ mfp_db2_wluser_pwd }}'/>
    <data key='user.database.db2.appcenter.username' value='{{ __mfp_ac_db2_usr }}'/>
    <data key='user.database.selection2' value='{{ __mfp_ac_db_selc }}'/>
    <data key='user.database.preinstalled' value='true'/>
    <data key='user.devops.server.dir' value='MobileFirstServer'/>
    <data key='user.database.db2.host' value='{{ __mfp_db2_host }}'/>
    <data key='user.database.db2.driver' value='{{ __db2_jdbc_cfg_dir }}/{{ __db2_jdbc_file }}'/>
    <data key='user.database.db2.username' value='{{ __mfp_ac_db2_usr }}'/>
    <data key='user.appserver.selection2' value='was'/>
    <data key='user.appserver.was85liberty.serverInstance_' value='{{ __mfp_ac_inst_name }}'/>
    <data key='user.appserver.was.profile' value='{{ __mfp_was_appsvr_profile }}'/>
    <data key='user.appserver.was.installdir' value='{{ __was_install_location }}'/>
    <data key='user.writable.data.user' value=''/>
    <data key='user.writable.data.group2' value=''/>
  </profile>
  <install>
    <!-- IBM® MobileFirst Platform Server 8.0.0.20160822_1948 -->
    <offering profile='IBM MobileFirst Platform Server' id='com.ibm.mobilefirst.foundation.server' version='{{ __mfp_version }}' features='main.feature'/>
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
</agent-input>
