<?xml version="1.0" encoding="UTF-8"?><!--HTTP server plugin config file for String generated on 2019.03.04 at 20:20:20 UTC-->
<Config ASDisableNagle="false" AcceptAllContent="false" AppServerPortPreference="HostHeader" ChunkedResponse="false" FIPSEnable="false" IISDisableNagle="false" IISPluginPriority="High" IgnoreDNSFailures="false" RefreshInterval="60" ResponseChunkSize="64" SSLConsolidate="false" TrustedProxyEnable="false" VHostMatchingCompat="false">
   <Log LogLevel="Error" Name="/apps/was8/HTTPServer/logs/http_plugin.log"/>
   <Property Name="ESIEnable" Value="true"/>
   <Property Name="ESIMaxCacheSize" Value="1024"/>
   <Property Name="ESIInvalidationMonitor" Value="false"/>
   <Property Name="ESIEnableToPassCookies" Value="false"/>
   <Property Name="PluginInstallRoot" Value="/apps/was8/WebSphere/Plugins"/>
<!-- Configuration generated using httpEndpointRef=defaultHttpEndpoint-->
<!-- The default_host contained only aliases for endpoint defaultHttpEndpoint.
	 The generated VirtualHostGroup will contain only configured web server ports:
		webserverPort=80
		webserverSecurePort=443 -->
   <VirtualHostGroup Name="default_host">
      <VirtualHost Name="*:80"/>
      <VirtualHost Name="*:443"/>
   </VirtualHostGroup>
   <ServerCluster CloneSeparatorChange="false" GetDWLMTable="false" IgnoreAffinityRequests="true" LoadBalance="Round Robin" Name="AC_Cluster" PostBufferSize="0" PostSizeLimit="-1" RemoveSpecialHeaders="true" RetryInterval="60">
      <Server CloneID="{{ __ac_cloneid1 }}" ConnectTimeout="5" ExtendedHandshake="false" MaxConnections="-1" Name="appcenter01" ServerIOTimeout="900" WaitForContinue="false">
         <Transport Hostname="{{ __mfp_ac_host01 }}" Port="9080" Protocol="http"/>
         <Transport Hostname="{{ __mfp_ac_host01 }}" Port="9443" Protocol="https">
            <Property Name="keyring" Value="/apps/was8/HTTPServer/conf/keyring.kdb"/>
            <Property Name="stashfile" Value="/apps/was8/HTTPServer/conf/keyring.sth"/>
            <Property Name="certLabel" Value="appcenter"/>
         </Transport>
      </Server>
      <Server CloneID="{{ __ac_cloneid2 }}" ConnectTimeout="5" ExtendedHandshake="false" MaxConnections="-1" Name="appcenter02" ServerIOTimeout="900" WaitForContinue="false">
         <Transport Hostname="{{ __mfp_ac_host02 }}" Port="9080" Protocol="http"/>
         <Transport Hostname="{{ __mfp_ac_host02 }}" Port="9443" Protocol="https">
            <Property Name="keyring" Value="/apps/was8/HTTPServer/conf/keyring.kdb"/>
            <Property Name="stashfile" Value="/apps/was8/HTTPServer/conf/keyring.sth"/>
            <Property Name="certLabel" Value="appcenter"/>
         </Transport>
      </Server>
      <PrimaryServers>
         <Server Name="appcenter01"/>
         <Server Name="appcenter02"/>
      </PrimaryServers>
   </ServerCluster>
   <UriGroup Name="AC_Cluster_URIs">
      <Uri AffinityCookie="JSESSIONID" AffinityURLIdentifier="jsessionid" Name="/applicationcenter/*"/>
   </UriGroup>
   <Route ServerCluster="AC_Cluster" UriGroup="AC_Cluster_URIs" VirtualHostGroup="default_host"/>
</Config>
