<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed Materials - Property of IBM
    5725-I43 (C) Copyright IBM Corp. 2011, 2016. All Rights Reserved.
    US Government Users Restricted Rights - Use, duplication or
    disclosure restricted by GSA ADP Schedule Contract with IBM Corp.

-->

<project basedir="." default="help">
  <!-- Start of Property Passwords
        Enter the password value or "************" to be prompted interactively
  -->
  <property name="mfp.config.admin.password" value="admin"/>
  <property name="database.db2.mfp.password" value="{{ mfp_db2_wluser_pwd }}"/>
  <property name="mfp.analytics.user.password" value="admin"/>
  <!-- End of Property Passwords -->

  <!-- Start of Property Parameters -->
  <property name="mfp.server.install.dir" value="/apps/was8/MobileFirst_Platform_Server"/>
  <property name="mfp.admin.contextroot" value="/mfpadmin"/>
  <property name="mfp.admin.console.install" value="true"/>
  <property name="mfp.admin.default.user" value="admin"/>
  <property name="mfp.admin.default.user.initialpassword" value="admin"/>
  <property name="mfp.config.admin.user" value="configUser"/>
  <property name="mfp.runtime.contextroot" value="/mfp"/>

  <!--
     Database settings for DB2.
        If you did not manually create the database(s) and users
        run the databases target with the create-database-db2.xml file,
        which includes DBA credentials.
  -->
  <property name="database.db2.host" value="{{ __mfp_db2_host }}"/>
  <property name="database.db2.port" value="55701"/>
  <property name="database.db2.instance" value="db2adm"/>
  <property name="database.db2.driver.dir" value="/apps/was8/db2java"/>
  <property name="database.db2.mfp.dbname" value="WRKLGHT"/>
  <property name="database.db2.mfp.schema" value="WRKLGHT"/>
  <property name="database.db2.mfp.username" value="wluser"/>

  <!--
     Application Server.
  -->
  <property name="appserver.was.installdir" value="/apps/was8/Liberty"/>
  <property name="appserver.was.profile" value="Liberty"/>
  <property name="appserver.was85liberty.serverInstance" value="{{ __mfp_fs_inst_name }}"/>

  <!--
     Server Farm.
  -->
  <property name="mfp.farm.configure" value="false"/>
  <property name="mfp.farm.server.id" value="****UPDATE**** - Farm server identifier (example: server-uniqueId)"/>

  <!--
     MobileFirst Operational Analytics.
       Before configuring the connection of the MobileFirst Server to the Analytics server, you must install MobileFirst Operational Analytics (for production, you should install it on a different server).
       See sample file in <MobileFirstInstallDir>/Analytics/configuration-samples/configure-liberty-analytics.xml
  -->
  <property name="mfp.analytics.configure" value="true"/>
  <property name="mfp.analytics.url" value="http://{{ __mfp_oa_host }}:9080/analytics-service/rest"/>
  <property name="mfp.analytics.console.url" value="http://{{ __mfp_oa_host }}:9080/analytics/console"/>
  <property name="mfp.analytics.user" value="admin"/>

  <!--
     MobileFirst Push Services.
  -->
  <property name="mfp.authorization.url.auto" value="true"/>
  <property name="mfp.admin.client.id" value="****UPDATE**** - OAuth Client ID for MobileFirst Administration Services (example: admin-client-id)"/>
  <property name="mfp.admin.client.secret" value="****UPDATE**** - OAuth Client Secret for MobileFirst Administration Services (example: adminSecret)"/>
  <property name="mfp.push.client.id" value="****UPDATE**** - OAuth Client ID for MobileFirst Push Services (example: push-client-id)"/>
  <property name="mfp.push.client.secret" value="****UPDATE**** - OAuth Client Secret for MobileFirst Push Services (example: pushSecret)"/>

  <!--
     Tasks Execution.
  -->
  <property name="mfp.process.admin" value="true"/>
  <property name="mfp.process.runtime" value="true"/>
  <property name="mfp.process.push" value="false"/>
  <!-- End of Property Parameters -->

  <!-- Meta properties for internal use -->
  <property name="mfp.config.parameters.version" value="1.0"/>

  <taskdef resource="com/ibm/mfp/ant/defaults.properties">
    <classpath>
      <fileset dir="${mfp.server.install.dir}/MobileFirstServer">
        <include name="mfp-ant-deployer.jar"/>
      </fileset>
    </classpath>
  </taskdef>

  <!-- Start of the databases target Generated by MobileFirst Server -->
  <target name="databases" depends="admdatabases, rtmdatabases, pushdatabases">
  </target>

  <target name="admdatabases">
    <configuredatabase kind="MobileFirstAdmin" execute="${mfp.process.admin}">
      <db2 database="${database.db2.mfp.dbname}"
           server="${database.db2.host}"
           instance="${database.db2.instance}"
           user="${database.db2.mfp.username}"
           port= "${database.db2.port}"
           schema = "${database.db2.mfp.schema}"
           password="${database.db2.mfp.password}">
      </db2>
      <driverclasspath>
        <fileset dir="${database.db2.driver.dir}">
          <include name="db2jcc4.jar"/>
          <include name="db2jcc_license_*.jar"/>
        </fileset>
      </driverclasspath>
    </configuredatabase>
  </target>

  <target name="rtmdatabases">
    <configuredatabase kind="MobileFirstRuntime" execute="${mfp.process.runtime}">
      <db2 database="${database.db2.mfp.dbname}"
           server="${database.db2.host}"
           instance="${database.db2.instance}"
           user="${database.db2.mfp.username}"
           port= "${database.db2.port}"
           schema = "${database.db2.mfp.schema}"
           password="${database.db2.mfp.password}">
      </db2>
      <driverclasspath>
        <fileset dir="${database.db2.driver.dir}">
          <include name="db2jcc4.jar"/>
          <include name="db2jcc_license_*.jar"/>
        </fileset>
      </driverclasspath>
    </configuredatabase>
  </target>

  <target name="pushdatabases">
    <configuredatabase kind="Push" execute="${mfp.process.push}">
      <db2 database="${database.db2.mfp.dbname}"
           server="${database.db2.host}"
           instance="${database.db2.instance}"
           user="${database.db2.mfp.username}"
           port= "${database.db2.port}"
           schema = "${database.db2.mfp.schema}"
           password="${database.db2.mfp.password}">
      </db2>
      <driverclasspath>
        <fileset dir="${database.db2.driver.dir}">
          <include name="db2jcc4.jar"/>
          <include name="db2jcc_license_*.jar"/>
        </fileset>
      </driverclasspath>
    </configuredatabase>
  </target>
  <!-- End of the databases target Generated by MobileFirst Server -->

  <!-- Start of the install target Generated by MobileFirst Server -->
  <target name="install" depends="adminstall, rtminstall, pushinstall">
  </target>

  <target name="adminstall">
    <installmobilefirstadmin execute="${mfp.process.admin}" contextroot="${mfp.admin.contextroot}">
      <console install="${mfp.admin.console.install}">
        <artifacts/>
      </console>
      <configuration configAdminUser="${mfp.config.admin.user}" configAdminPassword="${mfp.config.admin.password}"/>
      <jmx/>
      <applicationserver>
        <websphereapplicationserver installdir="${appserver.was.installdir}"
                                    profile="${appserver.was.profile}"
                                    configureFarm="${mfp.farm.configure}"
                                    farmServerId="${mfp.farm.server.id}">
          <server name="${appserver.was85liberty.serverInstance}"/>
        </websphereapplicationserver>
      </applicationserver>
      <user name="${mfp.admin.default.user}" role="mfpadmin" password="${mfp.admin.default.user.initialpassword}"/>
      <database kind="MobileFirstAdmin">
        <db2 database="${database.db2.mfp.dbname}"
             server="${database.db2.host}"
             user="${database.db2.mfp.username}"
             port= "${database.db2.port}"
             schema = "${database.db2.mfp.schema}"
             password="${database.db2.mfp.password}">
        </db2>
        <driverclasspath>
          <fileset dir="${database.db2.driver.dir}">
            <include name="db2jcc4.jar"/>
            <include name="db2jcc_license_*.jar"/>
          </fileset>
        </driverclasspath>
      </database>
      <push configure="${mfp.process.push}">
        <authorization auto="${mfp.authorization.url.auto}"
                       runtimeContextRoot="${mfp.runtime.contextroot}"
                       adminClientID="${mfp.admin.client.id}"
                       adminClientSecret="${mfp.admin.client.secret}"
                       pushClientID="${mfp.push.client.id}"
                       pushClientSecret="${mfp.push.client.secret}"/>
      </push>
    </installmobilefirstadmin>
  </target>

  <target name="rtminstall">
    <installmobilefirstruntime execute="${mfp.process.runtime}" contextroot="${mfp.runtime.contextroot}">
      <applicationserver>
        <websphereapplicationserver installdir="${appserver.was.installdir}"
                                    profile="${appserver.was.profile}"
                                    configureFarm="${mfp.farm.configure}"
                                    farmServerId="${mfp.farm.server.id}">
          <server name="${appserver.was85liberty.serverInstance}"/>
        </websphereapplicationserver>
      </applicationserver>
      <database kind="MobileFirstRuntime">
        <db2 database="${database.db2.mfp.dbname}"
             server="${database.db2.host}"
             user="${database.db2.mfp.username}"
             port= "${database.db2.port}"
             schema = "${database.db2.mfp.schema}"
             password="${database.db2.mfp.password}">
        </db2>
        <driverclasspath>
          <fileset dir="${database.db2.driver.dir}">
            <include name="db2jcc4.jar"/>
            <include name="db2jcc_license_*.jar"/>
          </fileset>
        </driverclasspath>
      </database>
      <analytics install="${mfp.analytics.configure}"
                 analyticsURL="${mfp.analytics.url}"
                 consoleURL="${mfp.analytics.console.url}"
                 username="${mfp.analytics.user}"
                 password="${mfp.analytics.user.password}">
      </analytics>
    </installmobilefirstruntime>
  </target>

  <target name="pushinstall">
    <installmobilefirstpush execute="${mfp.process.push}">
      <authorization auto="${mfp.authorization.url.auto}"
                     runtimeContextRoot="${mfp.runtime.contextroot}"
                     pushClientID="${mfp.push.client.id}"
                     pushClientSecret="${mfp.push.client.secret}"/>
      <applicationserver>
        <websphereapplicationserver installdir="${appserver.was.installdir}"
                                    profile="${appserver.was.profile}">
          <server name="${appserver.was85liberty.serverInstance}"/>
        </websphereapplicationserver>
      </applicationserver>
      <database kind="Push">
        <db2 database="${database.db2.mfp.dbname}"
             server="${database.db2.host}"
             user="${database.db2.mfp.username}"
             port= "${database.db2.port}"
             schema = "${database.db2.mfp.schema}"
             password="${database.db2.mfp.password}">
        </db2>
        <driverclasspath>
          <fileset dir="${database.db2.driver.dir}">
            <include name="db2jcc4.jar"/>
            <include name="db2jcc_license_*.jar"/>
          </fileset>
        </driverclasspath>
      </database>
      <analytics install="${mfp.analytics.configure}"
                 analyticsURL="${mfp.analytics.url}"
                 username="${mfp.analytics.user}"
                 password="${mfp.analytics.user.password}">
      </analytics>
    </installmobilefirstpush>
  </target>
  <!-- End of the install target Generated by MobileFirst Server -->

  <!-- Start of the update target Generated by MobileFirst Server -->
  <target name="update" depends="admupdate, rtmupdate, pushupdate">
  </target>

  <target name="admupdate">
    <updatemobilefirstadmin execute="${mfp.process.admin}" contextroot="${mfp.admin.contextroot}">
      <console install="${mfp.admin.console.install}">
        <artifacts/>
      </console>
      <configuration configAdminUser="${mfp.config.admin.user}" configAdminPassword="${mfp.config.admin.password}"/>
      <jmx/>
      <applicationserver>
        <websphereapplicationserver installdir="${appserver.was.installdir}"
                                    profile="${appserver.was.profile}"
                                    configureFarm="${mfp.farm.configure}"
                                    farmServerId="${mfp.farm.server.id}">
          <server name="${appserver.was85liberty.serverInstance}"/>
        </websphereapplicationserver>
      </applicationserver>
      <user name="${mfp.admin.default.user}" role="mfpadmin" password="${mfp.admin.default.user.initialpassword}"/>
      <database kind="MobileFirstAdmin">
        <db2 database="${database.db2.mfp.dbname}"
             server="${database.db2.host}"
             user="${database.db2.mfp.username}"
             port= "${database.db2.port}"
             schema = "${database.db2.mfp.schema}"
             password="${database.db2.mfp.password}">
        </db2>
        <driverclasspath>
          <fileset dir="${database.db2.driver.dir}">
            <include name="db2jcc4.jar"/>
            <include name="db2jcc_license_*.jar"/>
          </fileset>
        </driverclasspath>
      </database>
      <push configure="${mfp.process.push}">
        <authorization auto="${mfp.authorization.url.auto}"
                       runtimeContextRoot="${mfp.runtime.contextroot}"
                       adminClientID="${mfp.admin.client.id}"
                       adminClientSecret="${mfp.admin.client.secret}"
                       pushClientID="${mfp.push.client.id}"
                       pushClientSecret="${mfp.push.client.secret}"/>
      </push>
    </updatemobilefirstadmin>
  </target>

  <target name="rtmupdate">
    <updatemobilefirstruntime execute="${mfp.process.runtime}" contextroot="${mfp.runtime.contextroot}">
      <applicationserver>
        <websphereapplicationserver installdir="${appserver.was.installdir}"
                                    profile="${appserver.was.profile}"
                                    configureFarm="${mfp.farm.configure}"
                                    farmServerId="${mfp.farm.server.id}">
          <server name="${appserver.was85liberty.serverInstance}"/>
        </websphereapplicationserver>
      </applicationserver>
      <database kind="MobileFirstRuntime">
        <db2 database="${database.db2.mfp.dbname}"
             server="${database.db2.host}"
             user="${database.db2.mfp.username}"
             port= "${database.db2.port}"
             schema = "${database.db2.mfp.schema}"
             password="${database.db2.mfp.password}">
        </db2>
        <driverclasspath>
          <fileset dir="${database.db2.driver.dir}">
            <include name="db2jcc4.jar"/>
            <include name="db2jcc_license_*.jar"/>
          </fileset>
        </driverclasspath>
      </database>
      <analytics install="${mfp.analytics.configure}"
                 analyticsURL="${mfp.analytics.url}"
                 consoleURL="${mfp.analytics.console.url}"
                 username="${mfp.analytics.user}"
                 password="${mfp.analytics.user.password}">
      </analytics>
    </updatemobilefirstruntime>
  </target>

  <target name="pushupdate">
    <updatemobilefirstpush execute="${mfp.process.push}">
      <authorization auto="${mfp.authorization.url.auto}"
                     runtimeContextRoot="${mfp.runtime.contextroot}"
                     pushClientID="${mfp.push.client.id}"
                     pushClientSecret="${mfp.push.client.secret}"/>
      <applicationserver>
        <websphereapplicationserver installdir="${appserver.was.installdir}"
                                    profile="${appserver.was.profile}">
          <server name="${appserver.was85liberty.serverInstance}"/>
        </websphereapplicationserver>
      </applicationserver>
      <database kind="Push">
        <db2 database="${database.db2.mfp.dbname}"
             server="${database.db2.host}"
             user="${database.db2.mfp.username}"
             port= "${database.db2.port}"
             schema = "${database.db2.mfp.schema}"
             password="${database.db2.mfp.password}">
        </db2>
        <driverclasspath>
          <fileset dir="${database.db2.driver.dir}">
            <include name="db2jcc4.jar"/>
            <include name="db2jcc_license_*.jar"/>
          </fileset>
        </driverclasspath>
      </database>
      <analytics install="${mfp.analytics.configure}"
                 analyticsURL="${mfp.analytics.url}"
                 username="${mfp.analytics.user}"
                 password="${mfp.analytics.user.password}">
      </analytics>
    </updatemobilefirstpush>
  </target>
  <!-- End of the update target Generated by MobileFirst Server -->

  <!-- Start of the uninstall target Generated by MobileFirst Server -->
  <target name="uninstall" depends="admuninstall, rtmuninstall, pushuninstall">
  </target>

  <target name="admuninstall">
    <uninstallmobilefirstadmin execute="${mfp.process.admin}" contextroot="${mfp.admin.contextroot}">
      <console install="${mfp.admin.console.install}">
        <artifacts/>
      </console>
      <configuration configAdminUser="${mfp.config.admin.user}" configAdminPassword="${mfp.config.admin.password}"/>
      <jmx/>
      <applicationserver>
        <websphereapplicationserver installdir="${appserver.was.installdir}"
                                    profile="${appserver.was.profile}"
                                    configureFarm="${mfp.farm.configure}"
                                    farmServerId="${mfp.farm.server.id}">
          <server name="${appserver.was85liberty.serverInstance}"/>
        </websphereapplicationserver>
      </applicationserver>
      <user name="${mfp.admin.default.user}" role="mfpadmin" password="${mfp.admin.default.user.initialpassword}"/>
      <database kind="MobileFirstAdmin">
        <db2 database="${database.db2.mfp.dbname}"
             server="${database.db2.host}"
             user="${database.db2.mfp.username}"
             port= "${database.db2.port}"
             schema = "${database.db2.mfp.schema}"
             password="${database.db2.mfp.password}">
        </db2>
        <driverclasspath>
          <fileset dir="${database.db2.driver.dir}">
            <include name="db2jcc4.jar"/>
            <include name="db2jcc_license_*.jar"/>
          </fileset>
        </driverclasspath>
      </database>
      <push configure="${mfp.process.push}">
        <authorization auto="${mfp.authorization.url.auto}"
                       runtimeContextRoot="${mfp.runtime.contextroot}"
                       adminClientID="${mfp.admin.client.id}"
                       adminClientSecret="${mfp.admin.client.secret}"
                       pushClientID="${mfp.push.client.id}"
                       pushClientSecret="${mfp.push.client.secret}"/>
      </push>
    </uninstallmobilefirstadmin>
  </target>

  <target name="rtmuninstall">
    <uninstallmobilefirstruntime execute="${mfp.process.runtime}" contextroot="${mfp.runtime.contextroot}">
      <applicationserver>
        <websphereapplicationserver installdir="${appserver.was.installdir}"
                                    profile="${appserver.was.profile}"
                                    configureFarm="${mfp.farm.configure}"
                                    farmServerId="${mfp.farm.server.id}">
          <server name="${appserver.was85liberty.serverInstance}"/>
        </websphereapplicationserver>
      </applicationserver>
      <database kind="MobileFirstRuntime">
        <db2 database="${database.db2.mfp.dbname}"
             server="${database.db2.host}"
             user="${database.db2.mfp.username}"
             port= "${database.db2.port}"
             schema = "${database.db2.mfp.schema}"
             password="${database.db2.mfp.password}">
        </db2>
        <driverclasspath>
          <fileset dir="${database.db2.driver.dir}">
            <include name="db2jcc4.jar"/>
            <include name="db2jcc_license_*.jar"/>
          </fileset>
        </driverclasspath>
      </database>
      <analytics install="${mfp.analytics.configure}"
                 analyticsURL="${mfp.analytics.url}"
                 consoleURL="${mfp.analytics.console.url}"
                 username="${mfp.analytics.user}"
                 password="${mfp.analytics.user.password}">
      </analytics>
    </uninstallmobilefirstruntime>
  </target>

  <target name="pushuninstall">
    <uninstallmobilefirstpush execute="${mfp.process.push}">
      <authorization auto="${mfp.authorization.url.auto}"
                     runtimeContextRoot="${mfp.runtime.contextroot}"
                     pushClientID="${mfp.push.client.id}"
                     pushClientSecret="${mfp.push.client.secret}"/>
      <applicationserver>
        <websphereapplicationserver installdir="${appserver.was.installdir}"
                                    profile="${appserver.was.profile}">
          <server name="${appserver.was85liberty.serverInstance}"/>
        </websphereapplicationserver>
      </applicationserver>
      <database kind="Push">
        <db2 database="${database.db2.mfp.dbname}"
             server="${database.db2.host}"
             user="${database.db2.mfp.username}"
             port= "${database.db2.port}"
             schema = "${database.db2.mfp.schema}"
             password="${database.db2.mfp.password}">
        </db2>
        <driverclasspath>
          <fileset dir="${database.db2.driver.dir}">
            <include name="db2jcc4.jar"/>
            <include name="db2jcc_license_*.jar"/>
          </fileset>
        </driverclasspath>
      </database>
      <analytics install="${mfp.analytics.configure}"
                 analyticsURL="${mfp.analytics.url}"
                 username="${mfp.analytics.user}"
                 password="${mfp.analytics.user.password}">
      </analytics>
    </uninstallmobilefirstpush>
  </target>
  <!-- End of the uninstall target Generated by MobileFirst Server -->

  <target name="help">
    <basename property="ant.file.basename" file="${ant.file}"/>
    <echo message="This ant project file can be used in the following ways:"/>
    <echo/>
    <echo message="Basic usage :"/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} databases"/>
    <echo message="This task configures or upgrades all the databases of the MobileFirst components (MobileFirst Administration Services, MobileFirst Configuration Services, MobileFirst Runtime, and MobileFirst Push)."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} install"/>
    <echo message="This task installs all the MobileFirst components (MobileFirst Administration Services, MobileFirst Configuration Services, MobileFirst Runtime, and MobileFirst Push) in the application server."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} update"/>
    <echo message="This task updates all the MobileFirst components (MobileFirst Administration Services, MobileFirst Configuration Services, MobileFirst Runtime, and MobileFirst Push) that are installed in the application server."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} uninstall"/>
    <echo message="This task uninstalls all the MobileFirst components (MobileFirst Administration Services, MobileFirst Configuration Services, and MobileFirst Runtime, MobileFirst Push) from the application server."/>
    <echo/>
    <echo/>
    <echo message="Advanced usage usage per MobileFirst component :"/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} admdatabases"/>
    <echo message="This task configures or upgrades the databases of the MobileFirst Administration Services and the MobileFirst Configuration Services components."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} adminstall"/>
    <echo message="This task installs the MobileFirst Administration Services and the associated MobileFirst Configuration Services components in the application server."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} admupdate"/>
    <echo message="This task updates the MobileFirst Administration Service and the associated MobileFirst Configuration Services components that are installed in the application server."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} admuninstall"/>
    <echo message="This task uninstalls a MobileFirst Administration Services and the associated MobileFirst Configuration Services components from the application server."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} rtmdatabases"/>
    <echo message="This task configures or upgrades the database of the MobileFirst Runtime component."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} rtminstall"/>
    <echo message="This task installs the MobileFirst Runtime component in the application server."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} rtmupdate"/>
    <echo message="This task updates a MobileFirst Runtime component that is installed in the application server."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} rtmuninstall"/>
    <echo message="This task uninstalls a MobileFirst Runtime component from the application server."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} pushdatabases"/>
    <echo message="This task configures or upgrades the database of the MobileFirst Push component."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} pushinstall"/>
    <echo message="This task installs the MobileFirst Push component in the application server."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} pushupdate"/>
    <echo message="This task updates a MobileFirst Push component that is installed in the application server."/>
    <echo/>
    <echo message="ant -f ${ant.file.basename} pushuninstall"/>
    <echo message="This task uninstalls a MobileFirst Push component from the application server."/>
  </target>
</project>
